################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Csharp/Coding/.vs/Coding
/Csharp/Coding/Basics/obj
/Csharp/Coding/TestProject/obj
