################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Csharp/**/.vs/
/Csharp/**/bin/
/Csharp/**/obj
